.section {
  background-color: blue;
  height: 320px;
  width: 100%;
}

.bodysection {
  background-color: forestgreen;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 393px) and (max-width: 834px) {
    background-color: gray;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 418px) and (max-width: 537px) {
    background-color: gray;
  }
}

.card-detail {
  max-width: 540px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 393px) and (max-width: 834px) {
    background-color: gray;
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    @media (max-width: 393px) {
      flex-direction: column;
    }
    @media (min-width: 393px) and (max-width: 834px) {
      max-height: 278px;
    }
  }

  .col-image {
    flex: 0 0 40%;
    @media (max-width: 537px) {
      flex: none;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 8px 0 0 8px;
      @media (max-width: 537px) {
        border-radius: 8px 8px 0 0;
        max-height: 397.89px;
      }
      @media (min-width: 393px) and (max-width: 834px) {
        max-height: 278px;
      }

      @media (min-width: 393px) and (max-width: 537px) {
        width: 200px;
      }
    }
  }

  .col-details {
    flex: 1;
    padding: 16px;

    .card-body {
      padding: 0;
    }

    .card-title {
      margin: 0 0 8px;
      font-size: 1.25rem;
      font-weight: 500;
    }

    .card-text {
      margin: 0 0 16px;
      color: #6c757d;
    }

    .text-muted {
      color: #6c757d;
    }
  }
}
