.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172.5px, 1fr));
  grid-auto-rows: auto;
  gap: 16px;
  padding: 0;

  &__item {
    height: auto;
    background-color: #f0f0f0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
}

/* to avoid display only one image on every row 
@media (min-width: 393px) and (max-width: 456px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));

    &__item {
      width: 172.5px;
    }
  }
}

@media (max-width: 393px) {
  .grid {
    grid-template-columns: repeat(2, 2fr);
    .flexstart {
      justify-self: flex-start;
    }

    .flexend {
      justify-self: flex-end;
    }
  }
}*/
