.herocard {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: antiquewhite;
}

.herocard__media {
  width: 100%;
}

.herocard__content {
  background-color: black;
  height: 56px;
  padding: 16px;
  border-top: 5.38px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.herocard__title {
  font-family: 'Roboto Condensed';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #ffffff;
}
