.section {
  height: 320px;
  width: 100%;
  min-width: var(--MINWIDTH);
  @media (max-width: 393px) {
    height: auto;
  }

  .bodysection {
    background-color: black;
    height: 320px;
    display: flex;
    justify-content: center;

    @media (max-width: 834px) {
      height: 278px;
    }

    @media (max-width: 393px) {
      height: auto;
    }
  }
}
