@font-face {
  font-family: 'Roboto Condensed';
  src: url('./assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf')
    format('truetype');
}

/* || RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* the min-width of the body */
body {
  min-width: var(--MINWIDTH);
}

/* || VARIABLES */
:root {
  --MINWIDTH: 506px;
  --HEADER-BGCOLOR: #000;
  --HEADER-HEIGHT: 84px;
  --HEADER-MINWIDTH: 393px;
  --HEADER-PADDINGLEFT: 48px;
  --HEADER-PADDINGRIGHT: 48px;
  --HEADER-PADDINGLEFTMOBILE: 16px;
  --HEADER-PADDINGRIGHTMOBILE: 16px;
}

/* || UTILITY CLASSES */
.clickeable {
  cursor: pointer;
}

.gap36 {
  margin-bottom: 36px;
}

.gap24 {
  margin-bottom: 24px;
}

.border-bottom-1px {
  border-bottom: #333;
  border-style: solid;
  border-width: 1px;
}

/* || BLOCKS */
.iconbtn {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
}

.amplifiericon {
  width: 100%;
  height: 100%;
  background: url('./assets/imgs/amplifier\ button.svg') no-repeat;
  background-size: contain; // Ensure the image fits the containe
}

.hearticon {
  width: 100%;
  height: 100%;
  background: url('./assets/imgs/iconHeart.svg') no-repeat;
  background-size: contain; // Ensure the image fits the containe
}

.heartlineicon {
  width: 100%;
  height: 100%;
  background: url('./assets/imgs/iconHeartLine.svg') no-repeat;
  background-size: contain;
}

.bodypage {
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 48px;
}

@media (width <= 393px) {
  .bodypage {
    width: 100%;
    min-width: 393px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
  }
}

/* || ELEMENTS */
.iconbtn--medium {
  width: 24px;
  height: 21.68px;
}

.iconbtn--small {
  width: 12px;
  height: 12px;
}

.iconbtn--smaller {
  width: 12px;
  height: 10.84px;
}

/* || MODIFIERS */
